/* not for the grammar, only the output html result box */
#resultDiv {
    /* border: 5px outset black; */
    text-align: left;
    padding: 10px
}

.DEG_SEP {
    color:rgb(210, 10, 236);
}

.DT_num {
    color: #b41b1b;
}

.segmentnummer {
    background-color: blue;
}

.segmentkennung {
    background-color: chocolate;
}
